.none {
    display: none !important;
}

.auth-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 30;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-modal__wrapper {
    position: relative;
    max-width: 600px;
    min-width: 400px;
    padding: 50px 50px 50px 30px;
    background-color: var(--color-white);
    border: var(--color-accent);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.auth-modal__close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 25px;
    font-weight: 900;
    color: var(--color-accent);
    padding: 10px;
    cursor: pointer;
}


.auth-modal__header {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.auth-modal__btn {
    font-family: inherit;
    transition: all 0.5;
    position: relative;
}

.auth-modal__btn_active {
    color: var(--color-accent);
    font-weight: 600;

}

.auth-modal__btn:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.auth-modal__btn:not(.auth-modal__btn_active)::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-base);
    transition: background-color 0.3s;

}

.auth-modal__btn:not(.auth-modal__btn_active):hover::before {
    background-color: var(--color-accent);
}

.auth-modal__body {


}

.auth-modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-modal__input {
    padding: 10px;
    border: none;
    outline: 1px solid var(--color-base);
    border-radius: var(--border-radius);
    caret-color: var(--color-accent);
    color: var(--color-accent);
    font-weight: 500;
}

.auth-modal__input::placeholder {
    font-family: inherit;
    font-size: 14px;
    color: var(--color-base);
    
    
}

.auth-modal__input:focus-visible {
    outline: none;
    outline: 2px solid var(--color-accent);
}

.auth-modal__btn-footer {
    margin-top: 10px;
}